<h1>The Burger Meister!</h1>

<div class="container">

    <h2>Burgers to Eat!</h2>
    <ul>
        {{#each burgers}}

        {{!-- used a <p></p> to check that id was sending properly --}}
        {{!-- <p>
            {{id}}
        </p> --}}

        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </ul>


    <h2>Add a Burger</h2>

    <form class="create-form">
        <div class="form-group">
            <input type="text" id="addBurger" name="name">
        </div>
        <button type="submit">Add Burger</button>
    </form>


    <h2>Devoured Burgers!</h2>

    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
            {{> burgers/burger-block devoured=true}}
        </li>
        {{/if}}
        {{/each}}
    </ul>


</div>