<div class="container-fluid">
    <div class="sticky-top" id="heading">
        <h1>
            BURGER MEISTER
            <small class="text-muted">[ˈbɜrgər] [ˈmaɪstər]</small>
        </h1>
    </div>
    <section class="addBurgerSection">
        <div class="row justify-content-md-center">

            <div class="col-sm">
                <form class="create-form">
                    <div class="form-group">
                        {{!-- <label for="addBurger">Type your dream-burger here</label> --}}
                        <input type="text" class="form-control" id="addBurger" name="name"
                            placeholder="Type your dream-burger here to add it to your wish list"
                            aria-describedby="nomnom">
                        <small id="nomnom" class="form-text text-muted">Time for a quibbie.</small>
                    </div>
                    <button class="btn btn-success" id="wishBurgers" type="submit">Make A Wish</button>
                </form>
            </div>

            <div class="col-sm">
                <form class="delete-form">
                    <button class="btn btn-danger" id="deleteBurgers">Clear The Table</button>
                </form>
            </div>

        </div>
    </section>

    <section class="wishAndDevourSection">

        <div class="row">
            <div class="col-sm">
                <h2>Burger Wish List:</h2>
                {{!-- refers to partials/burger-block to check boolean value of true/false --}}
                <ul class="wish-list rounded">
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=0}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>

            <div class="col-sm">
                <h2>Unapologetically Devoured Burgers:</h2>

                <ul class="devoured-list rounded">
                    {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}}
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

        </div>

    </section>

</div>