
body {
/* background-image: url("../images/picnic.jpg"); */
background-color: #F4DF47;
background-size: cover;
}

h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #DAF7A6;
    width: 100%;
}

h2 {
    color: rgb(50, 51, 47);
}

#devoured-div {
    border-color: #F4AA47;
    border-style: solid;
    border-width: 5px;
}

.devoured-list {
    text-decoration: line-through;
    text-decoration-color: #C70039;
    padding: 2%;
    margin-right: 10%;
}

#wish-div {
    background-color: #F4AA47;
}

.wish-list {
    padding: 2%;
    background-color: #F4AA47;
    color: white;
    margin-right: 10%;
}

li {
    list-style: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.addBurgerSection {
    padding: 2%;
}

.wishAndDevourSection {
    padding: 2%;
    padding-top: 0;
}

img {
    width: 200px;
    height: 150px
}

/* /* .btn {
    margin-left: 5px;
} */

#button-div {
    margin: 0;
}