<li>
    
    <button class="update-devoured btn btn-warning" data-id="{{id}}" data-devoured="{{devoured}}">
        {{!-- {{#if devoured}}Yum!{{else}}Eat Me{{/if}} --}}
        Devour
    </button>
    {{burger_name}}
</li>