<li>
    {{burger_name}}
    <button class="update-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
        {{!-- {{#if devoured}}Yum!{{else}}Eat Me{{/if}} --}}
        Eat ME
    </button>
</li>